* {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  }

  #data_source {
    text-align: center;
    text-indent: 0px;
    margin-top: 0;
    color: grey;
    font-size: 10px;
}
  
  #container {
    max-width: 800px;
    margin: 0 auto;
  }

  h1  {
    font-size: 32px;
    text-transform: none;
    font-weight: 600;
  }

  a { color: #369;}

  svg { width: 100%; }
  
  p {
    font-size: 16px;
    text-transform: none;
    max-width: 700px;
  }

  #chart, #chart p, #chart span {
    width: 100%;
    font-size: 10px;
  }

  svg {
    max-height: 100vh;
  }

  .svg-tooltip {
    background: rgba(69, 77, 93, .9);
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    max-width: 320px;
    padding: 1rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
  }

  .country { cursor: default; }
    
    .country path {
      stroke-width: 1.5;
      opacity: 0.75;
    }

    .highlight path {
      stroke: #08519c;
      opacity: 1;
    }

    .highlight text { fill: #08519c; }

    
  